@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App-wrapper {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

.App * {
  box-sizing: border-box;
}

:root {
  --padding: 8px;
  --border-radius: 4px;
  --font-size-small: 18px;
  --border: 0.1px solid #ccc;
  --color-primary: #757575;
  --gap: 10px;
  --box-shadow: 2px 2px 2px gray;
  --font-weight-bold: 600;
  --font-weight-light: 200;
}

body {
  background-color: #f2f2f2;
}

input,
p,
text,
button,
h2,
h3,
h4 {
  font-weight: var(--font-weight-light);
}

.header-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: var(--padding);
  /* background-color: white; */
  background: linear-gradient(45deg, #e9e9e9, #ffffffde);
  position: sticky;
  padding: 20px;
  top: 0;
  z-index: 2000;
  box-shadow: var(--box-shadow);
}

h1 {
  display: inline;
  color: #202020;
  margin: 0;
  background-color: white;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-bold);
  padding-left: 6px;
}

.head-wrapper {
}

ul {
  padding: 0;
  list-style: none;
}

input[type="text"],
input[type="number"] {
  padding: var(--padding);
  border-radius: var(--border-radius);

  border: var(--border);

  background-color: #f9f9f9;

  font-size: var(--font-size-small);
  width: 100%;
}

.city {
  width: 284px;
}

.suggestions {
  width: 286px;
  position: absolute;
  top: 36px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 18px;
  box-shadow: 10px 10px 12px -12px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #fffb9f;

  cursor: default;
  cursor: pointer;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #f3ef8c;

  color: #494b57;
}

h3 {
  /* color: #4c433e; */
  color: white;
  margin: 0 0 10px 0;
}

p {
  margin: 0;
}

.event-wrapper {
  position: absolute;
  width: 100%;
  padding: 20px;
  box-shadow: var(--box-shadow);
  /* background-color: white; */
  background: linear-gradient(45deg, #00c6ff, #565656);
}

.event-description-wrapper {
  grid-column: 2/4;
}

.event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
}

.event {
  width: auto;
}

hr {
  border: 0.1px solid white;
}

h1.event-span {
  position: sticky;
  top: 0;
  background: white;
  display: block;
  border-radius: var(--border-radius);
  z-index: 2000;
}

.event-location {
  color: #b5bd44;
  mix-blend-mode: plus-lighter;
}

.event-date {
  color: white;
}

.details-btn {
  margin-top: 10px;
  padding: var(--padding);
  color: white;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  font-size: var(--font-size-small);
  width: 130px;
}

.details-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.event-numbers {
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: var(--border);
  width: 100%;
  margin-top: var(--gap);
}

.event-numbers:focus {
  /* background-color: #ff4444d1; */
  /* background-color: #e78e5e; */
  /* background-color: #f7ffe4; */
  background-color: #fafff7;
}

.number-of-events-label {
  font-size: var(--font-size-small);
  color: var(--color-primary);
  font-weight: var(--font-weight-light);
}

.details {
  padding: 10px;
  background-color: white;
  border: var(--border-radius);
}

input:focus {
  outline: none;
  border: 0.1px solid red;
}

input:focus-visible {
  border: 2px solid #1f0e4f;
}

.alerts-container {
  position: fixed;
  top: 0;
  right: 0;

  width: 25vw;
  z-index: 20000;
}

h4 {
  margin: 0;
}

.charts-container {
  padding: var(--padding);
  display: flex;
  gap: var(--gap);
  overflow: scroll;
}

.pie-chart {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.recharts-legend-wrapper {
  position: relative !important ;
  width: 0px;
  height: 0px;
  left: 0px;
  top: 0px;
}

.recharts-default-legend {
  text-align: start !important;
}

.recharts-layer text {
  mix-blend-mode: exclusion;
}

@media all and (max-width: 770px) {
  #event-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }
}

.bottom {
  background-color: yellow;
}
