@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App-wrapper {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

.App * {
  box-sizing: border-box;
}

:root {
  --padding: 8px;
  --border-radius: 4px;
  --font-size-small: 18px;
  --border: 0.1px solid #ccc;
  --color-primary: #757575;
  --gap: 10px;
  --box-shadow: 2px 2px 2px gray;
  --font-weight-bold: 600;
  --font-weight-light: 200;
}

body {
  /* background-color: #5d71ff; */
  /* background: linear-gradient(
    90deg,
    #fcc 0,
    #fcc 10%,
    #8d8d8d 0,
    #8d8d8d 90%,
    #5d72ff 0,
    #5d72ff
  ); */
  background-color: #f2f2f2;
}

input,
p,
text,
button,
h2,
h3,
h4 {
  font-weight: var(--font-weight-light);
}

.header-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: var(--padding);
  /* background-color: white; */
  background: linear-gradient(45deg, #e9e9e9, #ffffffde);
  position: sticky;
  padding: 20px;
  top: 0;
  z-index: 2000;
  box-shadow: var(--box-shadow);
}

h1 {
  display: inline;
  color: #202020;
  margin: 0;
  background-color: white;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-bold);
  padding-left: 6px;
}

.head-wrapper {
}

ul {
  padding: 0;
  list-style: none;
}

input[type="text"],
input[type="number"] {
  padding: var(--padding);
  border-radius: var(--border-radius);

  border: var(--border);

  background-color: #f9f9f9;

  font-size: var(--font-size-small);
  width: 100%;
}

.city {
  width: 284px;
}

/* #city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
} */

.suggestions {
  /* width: 250px; */
  width: 286px;
  position: absolute;
  /* top: 45px; */
  top: 36px;
  z-index: 2;
  align-self: center;
  margin: 0;
  /* font-size: 14px; */
  font-size: 18px;
  box-shadow: 10px 10px 12px -12px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  /* background-color: #eee; */
  background-color: #fffb9f;
  /* background-color: #98b36c; */
  /* background-color: #f7f9ff; */
  /* background-color: 5d71ff4f; */
  /* background-color: #fafff7; */
  cursor: default;
  cursor: pointer;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  /* background-color: #bcdcdb; */
  /* background-color: #1f0e4f; */
  /* background-color: #fafff7; */
  background-color: #f3ef8c;
  /* background-color: #f7f9ff; */
  /* color: #f9f9f9; */
  /* color: #44323c; */
  color: #494b57;
}

h3 {
  color: #4c433e;
  margin: 0;
}

p {
  margin: 0;
}

.event-wrapper {
  position: absolute;
  width: 100%;
  padding: 20px;
  box-shadow: var(--box-shadow);
  /* background-color: white; */
  background: linear-gradient(45deg, #00c6ff, #565656);
}

.event {
  width: auto;
}

h1.event-span {
  position: sticky;
  top: 0;
  background: white;
  display: block;
  border-radius: var(--border-radius);
}

.details-btn {
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  font-size: var(--font-size-small);
}

.event-numbers {
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: var(--border);
  width: 100%;
  margin-top: var(--gap);
}

.event-numbers:focus {
  /* background-color: #ff4444d1; */
  /* background-color: #e78e5e; */
  /* background-color: #f7ffe4; */
  background-color: #fafff7;
}

.number-of-events-label {
  /* font-size: 0.95rem; */
  font-size: var(--font-size-small);
  color: var(--color-primary);
  font-weight: var(--font-weight-light);
}

.details {
  /* background-color: #757575; */
  padding-top: 11px;
}

input:focus {
  outline: none;
  border: 1px solid red;
  /* border: 1px solid green; */
  /* border-color: #1f0e4f; */
}

input:focus-visible {
  /* border-color: #98b36c; */
  border: 2px solid #1f0e4f;
}

.alerts-container {
  position: fixed;
  top: 0;
  right: 0;
  mix-blend-mode: luminosity;
  /* text-shadow: 51px 20px 49px #98b36c; */
  /* mix-blend-mode: luminosity; */
  width: 93px;
  z-index: 1000;
}

h4 {
  margin: 0;
}

.charts-container {
  /* display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2vw; */
  padding: var(--padding);
  display: flex;
  gap: var(--gap);
  overflow: scroll;
}

.pie-chart {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.recharts-legend-wrapper {
  position: relative !important ;
  width: 0px;
  height: 0px;
  left: 0px;
  top: 0px;
}

.recharts-default-legend {
  text-align: start !important;
}

@media all and (min-width: 770px) and (max-width: 1170px) {
  .charts-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto; */
  }
}

@media all and (max-width: 770px) {
  .charts-container {
    /* display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto; */
  }
}

@media all and (max-width: 770px) {
  #event-list {
    /* display: grid;
    grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }
}

.bottom {
  background-color: yellow;
}
